# VM python in mac os
bin/ 
**/bin/
include/
**/include/
lib/
**/lib/
pyvenv.cfg
**/pyvenv.cfg

# vs code 
.vscode/
**/.vscode/

# mac os 
.DS_Store
**/.DS_Store

# Var envairoment
.env
**/.env

# driver selenium
chromedriver*/
**/chromedriver*/

# python cache
__pycache__/
**/__pycache__/

# credentials
credentials.json
**/credentials.json